/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT START */

/* TEXT END */


/* FONT-AWESOME START */

/* FONT-AWESOME END */



/* UTILITIES START  */
/* COLORS START*/

/* COLORS END */


/* MARGIN-PADDING START */

/* MARGIN-PADDING END */


/* FLEX START */

/* FLEX END */


/* BUTTONS START */

/* BUTTONS END */
/* UTILITIES END */
