/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT START */

/* TEXT END */


/* FONT-AWESOME START */

/* FONT-AWESOME END */



/* UTILITIES START  */
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 var(--main-space);
}

.container2{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 var(--main-space);
}

/* MEASUREMENTS */
:root{
    --main-space: 2rem;
}

/* DEBUG */
.box-debug{
    background-color: var(--primary-color-light);
    padding: 10px;
}


/* COLORS START*/
:root{
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --footer-color: rgb(57, 56, 56);
}

/* COLORS END */

/* BUTTONS START */

/* BUTTONS END */
/* UTILITIES END */
