/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT START */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;  
}
/* TEXT END */


/* FONT-AWESOME START */

/* FONT-AWESOME END */



/* UTILITIES START  */
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 var(--main-space);
}

.container2{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 var(--main-space);
}

.box{
    padding: 10px 0px;
}

/* MEASUREMENTS */
:root{
    --main-space: 2rem;
    --inner-space: 1rem;
    --button-space: 0.5rem;
    --button-space-long: 0.4rem 2rem;
}

/* DEBUG */
.box-debug{
    background-color: var(--primary-color-light);
    padding: 10px;
}


/* COLORS START*/
:root{
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --white-color: #ddd;
    --footer-color: rgb(57, 56, 56);
}
/* CLASSES */
.white{
    color: var(--white-color);
}
/* COLORS END */

/* BUTTONS START */
button{
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.big-b{

}

.normal-b{
    padding: var(--button-space);
}

.small-b{

}
/* BUTTONS END */
/* UTILITIES END */
