/* TABLET START*/
@media screen and (max-width: 768px) {
 
    .container{
        max-width: 750px;
    }
    /* SECTION 1 START */
    #intro .cards .card:first-child{
        width: calc((100% / 3 )*2 - 1.5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #intro .cards .card:first-child > *{
        width: 50%;
    }
    /* SECTION 1 END */


    /* SECTION 2 START */
    #planning .row{
        flex-wrap: wrap;
    }
    
    #planning .row .col{
        width: 100%;
    }
    /* SECTION 2 END */


    /* SECTION 3 START */

    /* SECTION 3 END */


    /* SECTION 4 START */
    #benefits .col{
        width: calc(100% / 2 - 1.5rem);
    }
    /* SECTION 4 END */

}
/* TABLET END */


/* MOBILE START*/
@media screen and (max-width: 480px) {
 
    .container{
        max-width: 600px;
    }

    /* SECTION 1 START */
    #intro .cards .card{
        width: 100%;
    }

    #intro .cards .card:first-child{
        width: 100%;
    }
    /* SECTION 1 END */


    /* SECTION 2 START */

    /* SECTION 2 END */

    
    /* SECTION 3 START */
    #testimonials .card{
        flex-direction: column;
    }
    /* SECTION 3 END */

    
    /* SECTION 4 START */
    #benefits .col{
        width: 100%;
    }
    /* SECTION 4 END */
}
/* MOBILE END */



