/* TABLET START*/
@media screen and (max-width: 992px) {
 
    .container{
        max-width: 750px;
    }
    /* HEADER START */
    nav > ul{
        display: none;
    }

    #hamburger-menu{
        display: block;
    }
    /* HEADER END */
    
    /* SECTION 1 -INTRO- START */
    #intro .cards .card:first-child{
        width: calc((100% / 3 )*2 - 1.5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #intro .cards .card:first-child > *{
        width: 100%;
    }

    #intro .cards .card:first-child > .image-card{
        margin-left: 20px;
    }

    #intro .cards .card:first-child > .image-card > img{
        width: 55%;
    }
    /* SECTION 1 -INTRO- END */


    /* SECTION 2 -PLANNING- START */
    #planning .row{
        flex-wrap: wrap;
        max-width: 100%;
    }
    
    #planning .row .col{
        width: 100%;
    }

    #planning .row .col:nth-child(1){
        padding: var(--inner-space) 0;
    }

    #planning .row .col:nth-child(2){
        width: 100%;
    }

    #planning .col div > div> img{
        width:85%;
    }

    #planning .row .col:nth-child(1) h2{
        font-size: 35px;
    }
    /* SECTION 2 -PLANNING- END */


    /* SECTION 4 -BENEFITS- START */
    #benefits .col{
        width: calc(100% / 2 - 1.5rem);
    }
    /* SECTION 4 -BENEFITS- END */


    /* SECTION 5 -ABOUT-US- START */
    #about-us .container .row .col:first-child{
      width: 60%;
    }

    #about-us .container .row .col:last-child{
      width: 40%;
    }
    /* SECTION 5 -ABOUT-US- END */


    /* SECTION 6 -GET-STARTED- START */

    /* SECTION 6 -GET-STARTED- END */

    /* FOOTER START */

    /* FOOTER END */
}
/* TABLET END */


/* MOBILE START*/
@media screen and (max-width: 768px) {
 
    .container{
        max-width: 600px;
    }

    /* HEADER START */
    nav > ul{
        display: none;
    }

    #hamburger-menu{
        display: block;
    }
    /* HEADER END */


    /* SECTION 1 -INTRO- START */
    #intro .cards .card{
        width: 100%;
    }

    #intro .cards .card:first-child{
        width: 100%;
        text-align: center;
        
    }

    #intro .cards .card:first-child > .image-card{
        margin-left: 0;
        justify-content: center;
    }

    #intro .cards .card:first-child > .image-card > img{
        width: 75%;
    }
    /* SECTION 1 -INTRO- END */

    /* SECTION 3 -TESTIMONIALS- START */
    #testimonials .card{
        flex-wrap: wrap;
        justify-content: center;
    }

    #testimonials .card > div:nth-child(2) > div{
        padding: 0;
    }
    #testimonials .card > div:nth-child(2) > div>div> span{
        text-align: start;
    };
    /* SECTION 3 -TESTIMONIALS- END */


    /* SECTION 4 -BENEFITS- START */
    #benefits .col{
        width: 100%;
    }
    /* SECTION 4 -BENEFITS- END */
    

    /* SECTION 5 -ABOUT-US- START */
    #about-us .container .row{
        flex-direction: column;
        padding: 0;
    }

    #about-us .container .row .col:first-child,
    #about-us .container .row .col:last-child{
        width: auto;
    }
    /* SECTION 5 -ABOUT-US- END */


    /* SECTION 6 -GET-STARTED- START */

    /* SECTION 6 -GET-STARTED- END */


    /* FOOTER START */

    /* FOOTER END */
}
/* MOBILE END */



